header{
    display: grid;
    grid-row:2/3;
    grid-column: 1/1;
    grid-template-columns: minmax(0,1fr) minmax(210px,2fr) minmax(410px,2fr) minmax(0,1fr);
    grid-template-rows: 1fr ;
    background: url(../images/bg.jpg) no-repeat fixed left bottom;
    background-size: cover;
    background-position:center center;
}
.greet{
    grid-row:1/1;
    grid-column: 2/3;
    padding-left: 50px;
}
.greet p:nth-child(1){
    color: white;
    opacity: 0;
    font-size: 1.8rem;
    font-weight: bold;
    margin-top: 200px;
    margin-bottom: 50px;
    animation: fadeInDown; 
    animation-delay:0.8s;
    animation-duration: 0.6s; 
    animation-fill-mode:forwards;
}
.greet h1{
    color: white;
    opacity: 0;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 50px;
    margin-bottom: 50px;
    animation: fadeInUp; 
    animation-delay:1.4s;
    animation-duration: 0.6s; 
    animation-fill-mode:forwards;
}
.greet p:nth-child(3){
    color: white;
    font-size: 1.1rem;
    margin-bottom: 50px;
    font-weight: bold;
    opacity: 0;
    animation: fadeInUp; 
    animation-delay:1.8s;
    animation-duration: 0.6s; 
    animation-fill-mode:forwards;
}
.greet .button{
    font-weight: bold;
    text-align: center;
    display: block;
    width:150px;
    padding: 10px 15px 10px 15px;
    border-radius: 10px;
    background-color: rgb(23, 158, 136);
    color:#fff;
    text-decoration: none;
    letter-spacing: 1.5px;
    font-size: 1.2rem;
    animation: fadeIn; 
    animation-delay:2.3s;
    animation-duration: 0.6s; 
}
.greet .button:hover{
    opacity: 0.7;
}
.photo{
    grid-row:1/1;
    grid-column: 3/4;
    padding-left: 30px;
}
.photo img{
    width:80%; 
    height:80%;
    min-width: 280px;
    margin: 35px auto;
    border: 2px solid #a1a1a1;   
    padding: 10px 10px;           
    background: #ffffff;          
    border-radius: 20px;  
    animation: photoFadein 0.8s;       
}
