#Work{
    grid-row:6/7;
    grid-column: 1/1;
    padding-top: 50px;
    padding-bottom: 50px;
    display: grid;
    grid-template-rows: 1fr; 
    grid-template-columns: 1fr 80% minmax(120px,15%) 1fr;
    background-color: #f0a2e3;
}
.Work .Work-title{
    grid-row:1/2;
    grid-column: 3/4;
    position: relative;
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
    text-align: center;
}
.Work .Work-title::before, .Work-title::after{
    content:'';
    position: absolute;
    border-right: 2px black solid ;
    height:100%;
    top:50%;
    transform: translateY(-50%); 
}
.Work .Work-title::before{
    left:5px;
}
.Work .Work-title:after{
    left:0px;
}
.Work .Work-title h2{
    display: block;
    position: absolute;
    top:50%;
    width: 100%;
    font-size: 1.8rem;
    transform: translateY(-50%);
}
.worklist{
    grid-row:1/1;
    grid-column: 2/3;
    display: flex;
    align-items: center;
    justify-content:space-around;
    flex-wrap: wrap;
}
.worklist .card{
    width:299px;
    height: 80%;
    max-height: 450px;
    border: 3px solid black;
    border-radius: 10px;
    margin-top: 10px;
}
.worklist .card .card-top{
    height:50%;
    width:100%;
    background-color: cornflowerblue;
}
.worklist .card .card-top .card-top-img{
    height: 100%;
    width: 100%;
    border-radius: 5px;
}
.worklist .card .card-body{
    position: relative;
    height: 50%;
}
.worklist .card .card-body h4{
    position: relative;
    padding-top: 10px;
    padding-left:15px;
    font-size: 1.6rem;
    font-weight: bold;
}
.worklist .card .card-body p{
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 10px;
    line-height: 30px;
    text-align: justify;

}
.worklist .card .card-body a{
    position: absolute;
    bottom:10px;
    right:15px;
    text-decoration: none;
    border: 1px solid black;
    color:darkgreen;
    border-radius: 5px;
    padding:5px;
    font-weight: 700;
    transition: all 0.4s;
}
.worklist .card .card-body a:hover{
    background-color:rgb(94, 153, 94) ;
    color:#e6e6e6;
}